.tips {
  margin: 3em 15em;
  text-align: start;
}

.tips__header {
  display: flex;
  align-items: center;
}

.tips__header-image {
  width: 90px;
  height: 30px;
  margin: 0.8em;
}

h2 {
  font-style: oblique;
  font-family: Georgia, Times, "Times New Roman", serif;
}
